html {
    font-family: sans-serif;
  }
  
  h2 {
    font-size: 16px;
  }
  
  .a11y-label {
    margin: 0;
    text-align: right;
    font-size: 0.7rem;
    width: 98%;
  }
  
  body {
    margin: 0 auto;
    width: 70%;
    background-color: #f5f9fa;
  }

  li {
    margin-bottom: 1rem;
  }

  textarea {
    padding: 3rem 1rem;
    min-width: 100%;
    height: 420px;
    text-align: left;
  }

span {
    padding: 1px 3px;
    color: red;
    background-color: lightgray;
    border-radius: 2px;
  }

  .header {
    width: 100%;
    color: #f5f9fa;
    padding: .3rem;
        background: linear-gradient(to right, 
        #ff0000 0%, /* Red */
        #ff7f00 14.28%, /* Orange */
        #ffff00 28.57%, /* Yellow */
        #00ff00 42.85%, /* Green */
        #0000ff 57.14%, /* Blue */
        #4b0082 71.42%, /* Indigo */
        #9400d3 85.71% /* Violet */
    );
  }

  .two-col {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }
  

  